*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: gray;
}
/* .boxOuter{
    background-color: green;
    height: 400px;
    width: 800px;
    padding: 100px 0px 0px 320px;
    position: relative;
}
.boxOuter:hover{
    background-color: #fff;
}
.boxInrer{
    background-color: red;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 300px;
} */


.nkBox{
    /* position: static; */
    background-color: green;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    position: relative;
}

.box{
    border: 1px solid white;
    height: 150px;
    width: 150px;
    position: absolute;
    text-align: center;
    font-size: 40px;
}
.box1{
    background-color: red;
    top: 0px;
    left: 125px;
    z-index: 1;
}
.box2{
    background-color: yellow;
    top: 125px;
    left: 0px;
}
.box3{
    background-color: pink;
    top: 125px;
    right: 0px;
}
.box4{
    background-color: purple;
    bottom: 0px;
    left: 125px;
}
.box5{
    background-color: lightblue;
    top: 75px;
    left: 75px;
}
.box6{
    background-color: tomato;
    top: 75px;
    right: 75px;
    z-index: 2;
}
.box7{
    background-color: cyan;
    bottom: 75px;
    left: 75px;
}
.box8{
    background-color: lawngreen;
    bottom: 75px;
    right: 75px;
}
.box:hover{
    z-index: 9;
}

h1:before{
    content: 'Hello ';
    background-color: red;
    color: white;
    padding: 10px;
}
h1:after{
    content: ' Thanks';
}